In [146]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

df = pd.DataFrame(np.random.randint(0,100,size=(300, 8)), columns=['n1', 'n2', 'n3', 'n4', 'n5', 'n6','n7', 'n8'])
# Categorical data is simulated by having characters be the data
o1 = [chr(np.random.randint(50,80)) for x in range(300)]
o2 = [chr(np.random.randint(70,85)) for x in range(300)]
df["o1"] = o1
df["o2"] = o2
classes = [np.random.randint(1,5) for x in range(300)]
df["class"] = classes

In [147]:
df.head()

   n1  n2  n3  n4  n5  n6  n7  n8 o1 o2  class
0   8  74  77  69  89  17  55  70  ?  M      2
1  18  39  75  11  69  47  14  14  J  O      2
2  66  61  42  14  34   1   2  84  F  F      4
3  85  22  56  46  40  57  64  52  H  G      4
4  79  71  44  39  22  84  37  89  5  P      3

In [148]:
full_pipeline = ColumnTransformer([
    ('rescale_numerical_0', MinMaxScaler(), ['n1', 'n2', 'n3', 'n4', 'n5', 'n6','n7', 'n8']),
    ('encode_ordinal_0', OrdinalEncoder(), ['o1', 'o2'])
])

In [149]:
X_test = df.drop("class", axis=1)
y_test = df["class"].copy()

In [150]:
df_result = full_pipeline.fit_transform(X_test)

In [151]:
df_result[0]

array([ 0.08080808,  0.74747475,  0.77777778,  0.6969697 ,  0.8989899 ,
        0.17171717,  0.55555556,  0.70707071, 13.        ,  7.        ])