In [100]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import MinMaxScaler

df = pd.DataFrame(np.random.randint(0,100,size=(300, 9)), columns=['b1', 'b2', 'b3', 'b4', 'b5', 'b6','b7', 'b8', 'b9'])
classes = [np.random.randint(1,5) for x in range(300)]
df["class"] = classes

In [101]:
df.head()

   b1  b2  b3  b4  b5  b6  b7  b8  b9  class
0  64   9   5  43  44  95  86  12  44      1
1  66  58  33  79  61  92  47  88   5      1
2  92  44  21  79  74  21  60  63  87      4
3   5  21   8   5  42  46  80  49  74      2
4  30  46  69  47  63  35   6   5  98      2

In [102]:
full_pipeline = ColumnTransformer([
    ('rescale_numerical_0', MinMaxScaler(), ['b2', 'b3', 'b4', 'b5', 'b6', 'b7', 'b8', 'b9']),
    ('encode_ordinal_0', OrdinalEncoder(), ['b1'])
])

In [111]:
X_test = df.drop("class", axis=1)
y_test = df["class"].copy()

In [112]:
df_result = full_pipeline.fit_transform(X_test)

In [113]:
df_result[0]

array([9.09090909e-02, 5.05050505e-02, 4.28571429e-01, 4.44444444e-01,
       9.59595960e-01, 8.68686869e-01, 1.21212121e-01, 4.44444444e-01,
       6.30000000e+01])